%br
.row.left
  .small-4.columns
    = form_for @pack do |f|
      = f.text_field :name, class: 'form-control left', placeholder: "New Pack Name"
      = f.submit "Create Pack", class: 'button tiny left'
  .small-8.columns
    %h2 #{@user.username}'s Flashcard Packs
    %hr
    - @user.packs.each do |pack|
      %h3
        %a{ :href => pack_path(pack.id) } #{pack.name} (#{pack.cards.count} cards)
        .nice.round.progress.success
          %span.meter{:style => "width: #{pack.percent_learned}%"}
